# Custom
tests/test_resources/home_credit_default_risk/*.csv
tests/test_resources/mercari_price_suggestion/*.tsv
*.7z
*.h5

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pickled models
*.pk
*.pkl

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
tests/test_resources/wsdm_cup_features/uc_cluster_cluster_msno_25_features.csv
tests/test_resources/wsdm_cup_features/u_cluster_msno_features.csv
tests/test_resources/wsdm_cup_features/st_cluster_source_type_features.csv
tests/test_resources/wsdm_cup_features/sst_cluster_source_system_tab_features.csv
tests/test_resources/wsdm_cup_features/sn_cluster_source_screen_name_features.csv
tests/test_resources/wsdm_cup_features/sc_cluster_cluster_song_id_25_features.csv
tests/test_resources/wsdm_cup_features/s_cluster_song_id_features.csv
tests/test_resources/wsdm_cup_features/rv_cluster_registered_via_features.csv
tests/test_resources/wsdm_cup_features/ly_cluster_lyricist_features.csv
tests/test_resources/wsdm_cup_features/lang_cluster_language_features.csv
tests/test_resources/wsdm_cup_features/gmax_cluster_genre_max_features.csv
tests/test_resources/wsdm_cup_features/gen_cluster_gender_features.csv
tests/test_resources/wsdm_cup_features/comp_cluster_composer_features.csv
tests/test_resources/wsdm_cup_features/c_cluster_city_features.csv
tests/test_resources/wsdm_cup_features/age_cluster_bd_features.csv
tests/test_resources/wsdm_cup_features/ac_cluster_cluster_artist_name_25_features.csv
tests/test_resources/wsdm_cup_features/a_cluster_artist_name_features.csv
